<%= form_with(model: @article, local: true, class: "form") do |form| %>
    <div class="form-label">
        <%= form.label :title, "Title", class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-label">
        <%= form.label :description, "Description", class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="form-label">
        <%= form.label :author, "Author", class: "form-label" %>
        <%= form.text_field :author, class: "form-control" %>
    </div>
    <div class="form-label">
        <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>