<h1>All Articles</h1>
<% if @articles.empty? %>
  <p>There are no articles yet. Create one!</p>
<% end %>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
  <% @articles.each do |article| %>
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><% if article.description.length > 40 %></p>
            <p class="card-text"><%= article.description.slice(0, 40) %>...</p>
          <% else %>
            <p class="card-text"><%= article.description %></p>
          <% end %>
          <p class="card-text"><%= article.user.username if article.user %></p>
          <div class="btn-container d-flex gap-2">
            <%= link_to 'Go to Article', article_path(article), class: "btn btn-outline-primary" %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-success" %>
            <%= button_to 'Delete', article_path(article), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
          </div>
        </div>
 </div>
    </div>
  <% end %>
</div>
<div class="mt-4">
  <%= link_to 'Create a new Article', new_article_path, class: "btn btn-primary" %>
</div>
