				<%# <form onsubmit="return false;" class="form">
					<div class="email-input">
						<span class="material-icons-round icon-size"> mail_outline </span>
						<span id="seperator"></span>
						<div class="input-container">
							<p class="sub-title">Email Address</p>
							<input type="email" name="usermail" id="email" />
						</div>
					</div>

					<div class="email-input">
						<span class="material-icons-round icon-size"> password </span>
						<span id="seperator"></span>
						<div class="input-container">
							<p class="sub-title">Password</p>
							<input type="password" name="userpass" id="password" />
						</div>
					</div>

					<button id="submit">Continue</button>
				</form> %>
<%# <article class="outro">
					<div class="ending">
						<p>Or Continue With</p>
					</div>

					<div class="socials">
						<a class="social-btn" href="" id="g-btn"><p>Google</p></a>
						<a class="social-btn" href="" id="a-btn"><p>Apple</p></a>
						<a class="social-btn" href="" id="fb-btn"><p>Facebook</p></a>
					</div>
				</article> %>
<%= render "shared/errors", data: @user %>
<%= form_with(model:@user, local: true, class: "my-form") do |form| %>
  <div class="email-input">
    <span class="material-icons-round icon-size"> person_outline </span>
    <span id="seperator"></span>
    <div class="input-container">
      <p><%= form.label :username, class: "sub-title" %></p>
      <%= form.text_field :username, class: "username" %>
    </div>
  </div>
  <div class="email-input">
    <span class="material-icons-round icon-size"> mail_outline </span>
    <span id="seperator"></span>
    <div class="input-container">
      <p><%= form.label :email, class: "sub-title" %></p>
      <%= form.email_field :email, class: "email" %>
    </div>
  </div>
  <div class="email-input">
    <span class="material-icons-round icon-size"> password </span>
    <span id="seperator"></span>
    <div class="input-container">
      <p><%= form.label :password, class: "sub-title" %></p>
      <%= form.password_field :password, class: "password" %>
    </div>
  </div>
  <%= form.submit "Continue", id: "submit" %>
<% end %>
